/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100%;
  box-sizing: border-box;
  max-width: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.card {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.card-details {
  display: flex;
  border: 1px solid blue;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
  width: 20%;
  margin: 10px;
}
