/* Loader */

.hm-spinner {
  height: 115px;
  width: 115px;
  border: 6px solid transparent;
  border-top-color: #08044e;
  border-bottom-color: #2c927e;
  border-radius: 50%;
  /* position: relative; */
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* elements rajoutés */
  position: fixed;
  top: 50%;
  left: 50%;
  /* overflow: hidden;
  z-index: 1; */
}

.hm-spinner::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 6px solid transparent;
  border-top-color: #08044e;
  border-bottom-color: #2c927e;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100%;
  box-sizing: border-box;
  max-width: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.card {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.card-details {
  display: flex;
  border: 1px solid blue;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
  width: 20%;
  margin: 10px;
}
