body {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100%;
  box-sizing: border-box;
  max-width: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

/* .card-bloc {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #2c927e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hwb(243 2% 69%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  height: 30vh;
  width: 18%;
}

.card-image {
  max-width: 60%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
} */
