.card-bloc {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #2c927e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hwb(243 2% 69%);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  height: 30vh;
  width: 20%;
  position: relative;
}
.card-front,
.card-back {
  position: absolute;
  height: 30vh;
  backface-visibility: hidden;
  transition: 0.9s ease;
  width: 90%;
}
.card-back {
  transform: rotateY(180deg);
}
.card-image {
  max-width: 100%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-title {
  font-family: Arial, sans-serif;
  /* margin: 0; */
  color: hsl(0, 0%, 20%);
}

.card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
  padding: 5px;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}

/* responsive */

/* Tablette */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 30%;
  }
  .card-back {
    transform: none;
  }
  .card:hover .card-front {
    transform: none;
  }
  .card:hover .card-back {
    transform: none;
  }
  .card-front {
    display: none;
  }
}

/* Mobile */
@media all and (max-width: 767px) {
  .card {
    width: 60%;
  }
  .card-back {
    transform: none;
  }
  .card:hover .card-front {
    transform: none;
  }
  .card:hover .card-back {
    transform: none;
  }
  .card-front {
    display: none;
  }
}
